@model string
<h1>Guid on page: @Model</h1>
<br />
<partial name="_Transient" />
<br />
<h3>Transient : It is created each time they're requested from the service container.</h3>

<p>
    What is the lifecycle useful for?
</p>
<ul>

    <li>When you need a fresh instance of an object every single time</li>
</ul>